{% extends "base.html" %}

{% block title %}Create Event{% endblock %}

{% block header %}
Hello, create event page!
{% endblock %}

{% block content %}
<div style="border:1px dotted black; width: 300px;">
<center><b>Create An Event</b></center>
<form action="/create" method="post">
<br />Event Title: <input type="text" name="title" />
<br />Description: <textarea name="description"></textarea>
<br />Max Number of Attendees: <input type="number" name="maxattendees" />
<br /><center><input type="submit" value="Create" /></center>
</form>
</div>
{% endblock %}