<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Skej Home</title>
</head>

<body>
<div id="fb-root"></div>
<script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{ FACEBOOK_APP_ID }}', // App ID
      channelUrl : '{{ DOMAIN }}/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional init code here
    FB.getLoginStatus(function(response) {
    	console.log("INIT");
    	console.log(response);
	    if (response.status === 'connected') {
	        console.log("connected");
	        {% if not fb_logged %}
	        window.location.href = window.location.href; // refresh because server fb status different from client status
	        {% endif %}
	        document.getElementById('login').style.display = "none";
	        FB.api('/me', function(response) {
			   console.log(response);
			});
	    } else if (response.status === 'not_authorized') {
	        console.log("not authorized");
	        document.getElementById('logout').style.display = "none"
	    } else {
	        console.log("not logged in");
	        document.getElementById('logout').style.display = "none"
	    }
	});

  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

function login_state_changed() {
	window.location.href = window.location.href; // refresh page for server to pick up status
}
</script>

<b>{{ top_msg }}</b>
<hr />

<p>
	<fb:login-button autologoutlink="true" onlogin="login_state_changed()" size="xlarge"></fb:login-button>
	<br /><fb:facepile app_id="{{ FACEBOOK_APP_ID }}"></fb:facepile>
</p>
<p>
	<pre>{{ user_msg }}</pre>
</p>

<hr />
<a href="/">/</a>
<br /><a href="/home">/home</a>
<br /><a href="/create">/create</a>

</body>
</html>